.dark-mode {
  filter: invert(100%);
  background-color: white;
}

.yellow-mode {
  transition-duration: 0.5s;
  background-color: yellow;
}
:root {
  transition-duration: 0.5s;
}


*{

  margin: 0;

}

html {

  overflow: hidden;
}

